Suppose that IBM wants to manufacture three types of computers, models  X,Y, and Z . And suppose further that there are three facilities, Bangalore  B , Poughkeepsie  P , and Rome  R . Each location has an associated resource allocation. Our goal is find the combination of the number of computers to produce such that all available resources are consumed.

X  costs 3 in  B , 4 in  P , and 5 in  R 
Y  costs 2 in  B , 5 in  P , and 7 in  R 
Z  costs 4 in  B , 3 in  P , and 6 in  R 
Further, each location only has so many resources available. Bangalore  B , Poughkeepsie  P , and Rome  R  have  25,31,44  resources respectively.

In [1]:
import pandas as pd

In [3]:
# Creating the dataframe

df = pd.DataFrame(index = ["Banglore", "Poughkeepse", "Rome"], columns=["X","Y","Z", "Resources"])

In [4]:
df

               X    Y    Z Resources
Banglore     NaN  NaN  NaN       NaN
Poughkeepse  NaN  NaN  NaN       NaN
Rome         NaN  NaN  NaN       NaN

In [5]:
df.X = [3,4,5]
df.Y = [2,4,7]
df.Z = [4,3,6]

In [6]:
df

             X  Y  Z Resources
Banglore     3  2  4       NaN
Poughkeepse  4  4  3       NaN
Rome         5  7  6       NaN

In [7]:
df.Resources = [25, 31, 44]

In [8]:
df

             X  Y  Z  Resources
Banglore     3  2  4         25
Poughkeepse  4  4  3         31
Rome         5  7  6         44

Our task is to use all of the resources at the facilities. Let's write this as a system of equations:

3x+2y+4z=25
 
4x+5y+3z=31
 
5x+7y+6z=44
 
Now, we can represent this in matrix form:

In [11]:
import tensorflow as tf
import numpy as np

In [12]:
A = np.matrix([
    [3,2,4],
    [4,5,3],
    [5,7,6]
]).astype('float64')

In [13]:
A

matrix([[3., 2., 4.],
        [4., 5., 3.],
        [5., 7., 6.]])

In [14]:
B = np.matrix([
    [25], [31], [44]
]).astype('float64')

In [15]:
#convert to tensors

In [16]:
A_t = tf.convert_to_tensor(A)

In [20]:
A_t.shape

TensorShape([Dimension(3), Dimension(3)])

In [21]:
B_t = tf.convert_to_tensor(B)

In [23]:
A_inv = tf.matrix_inverse(A_t)

In [24]:
X = tf.matmul(A_inv, B)

In [26]:
init = tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init)
    print(sess.run(X))

[[5.]
 [1.]
 [2.]]